*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before, *:after{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.wrapper{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

p{
	margin: 0px 0px 10px 0px;
}

.input{
	position: relative;;
	height: 47px;
	width: 100px;
	display: block;
	font-size: 15px;
	padding: 0px 20px;
	border-top: 1px solid #000;
	background-color: #f8f7f7;
}
.input:focus{
	border-top: 1px solid blue;
}
.btn{
	display: inline-block;
	padding: 0px 42px;
	height: 47px;
	background-color: transparent;
	line-height: 44px;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.67px;
	position: relative;
	color: #000;
	border: 1px solid #000;
}
.btn:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	transform: scale(0);
	transition: all 0.3s ease 0s;
}
.btn span{
	transition: all 0.3s ease 0s;
	position: relative;
	z-index: 1;
}
.btn:hover{
	color: #fff;
}
.btn:hover:after{
	transform: scale(1);
}
.books{
	margin: 0px 0px 70px 0px;
	text-align: left;
}
.books__label{
	margin: 0px 0px 10px 0px;
}
.books__item{
	padding: 0px 0px 20px 0px;
}
.books__form{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.pl-books-link {
	color: #000000;
	font-size: 14px;
	font-weight: 700;
	line-height: 70px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	position: relative; 
}
.pl-books-link:after {
	content: url("../img/arrow-right.svg");
	position: relative;
	top: -1.3px;
	left: 8px; 
}
.pl-books-link:before {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 0px;
	width: 44px;
	height: 2px;
	background-color: #a9946e; 
	transition: all 0.3s ease 0s;
}
.pl-books-link:hover:before{
	transition: all 0.3s ease 0s;
	width: calc(100% - 36px);
}
.table {
	display: table;
	font-size: 0;
	width: 100%;
}
.cell {
	display: table-cell;
}
.popup {
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0,0,0,0.8);
	display: none;
	position: fixed!important;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 100;
}
.popup.active{
	.popup-content{@include scale(1);}
}
.popup.show{display: block;
	.popup-content{@include scale(1);}
}
.popup__title {
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	margin: 0px 0px 20px 0px;
}
.popup__txt {
	font-size: 16px;
	text-align: center;
}
.popup-table{
	height: 100%;
	table-layout: fixed;
	
}
.popup-table > .cell{
	height: 100%;
	vertical-align: middle;
	padding: 30px 10px;
}

.popup-content {
	@include scale(0);
	@include anim(0.3s, 0s);
	position: relative;
	max-width: 720px;
	padding: 20px 5px;
	margin: 0px auto;
	background-color: #fff;
}
.popup-close {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	background: url('../img/icons/close.svg') 0 0 no-repeat;
}

.sort {
	
}
.sort__title {
	margin: 0px 0px 20px 0px;
	font-size: 16px;
	text-align: center;
}