@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap');

// Файл обнуляющих стилей
@import "nullstyle.scss";

body{
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 20px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.fullscreen {
	background-color: #666;
	display: flex;
	min-height: 100vh;
	padding: 20px 0;
	&__body {
		background-color: #794f45;
		flex: 1 1 auto;
		max-width: 1000px;
		margin: 0px auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		padding: 0 20px;
	}
	&__title {
		font-size: 50px;
		margin: 0px 0px 20px 0px;

	}
	&__text {
		font-size: 25px;
		margin: 0px 0px 20px 0px;

	}
	&__link {
		display: inline-block;
		line-height: 50px;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		letter-spacing: 2px;
		background-color: #77608d;
		align-self: center;
		padding: 0px 20px;
	}
}
.content {
	&__body {
		max-width: 1000px;
		margin: 0px auto;
		padding: 30px 20px;
		background-color: #350;
		p{
			margin: 0px 0px 20px 0px;
			&:last-child{
				margin: 0;
			}
		}
	}

}
.footer {
	background-color: #111;
	text-align: center;
	&__body {
		max-width: 1000px;
		margin: 0px auto;
		padding: 30px 20px;
	}
}
